@using Microsoft.AspNet.Identity
<header id="sticky"style="position:inherit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-4" style="background-color:black">
                <div class="logo-area">
                    <a class="nor" href="Index"><img src="~/Assets/img/logo-vlu-6.png" style="margin-top: 15px;margin-left: 20px;" /></a>
                    <a class="stic" href="Index"><img src="~/Assets/img/logo-vlu-6.png" style="margin-top: 15px;margin-left: 20px;" /></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-8" style="background-color:black">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a class="active" href="@Url.Action("Index","Home",new { area=""})">Trang chủ</a></li>

                            @*<li>
                                <a href="javascript:void(0)">Công ty</a>
                                <ul>
                                    <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/recruiters.html">Danh sách Công ty</a></li>
                                    <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/recruiters-details.html">Test - Thông tin Công ty</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tin Tức</a>

                            </li>
                            <li>
                                <a href="http://webdevproof.com/theme-forest-demo/job/demo1/blog.html">Giới Thiệu</a>

                            </li>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/contact.html">Liên Hệ</a></li>*@

                            <li>
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", new { area=""},FormMethod.Post, new { id = "logoutForm", @class = "log-in" }))
                                {
                                    @Html.AntiForgeryToken()

                                        <li class="users">
                                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li class="users"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                }
                            }
                            else
                            {

                                <li class="users"><button type="button" class="sign_up" data-toggle="modal" data-target="#exampleModalCenter"><i class="flaticon-add-user"></i>Đăng Ký</button></li>
                                <li class="users"><a href="@Url.Action("Login","Account",new { area=""})" type="button" class="log_in" data-toggle="" data-target="#exampleModalCenter"><i class="flaticon-login"></i>Đăng Nhập</a></li>
                            }
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!--Responsive Menu area-->
    <div class="mobilemenu">
        <div class="mobile-menu  hidden-md-up">
            <nav>
                <ul>
                    <li><a href="index.html">Trang Chủ</a></li>
                    <li>
                        <a href="javascript:void(0)">Jobs</a>
                        <ul>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/jobs.html">Jobs</a></li>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/jobs-details.html">Jobs Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Recruiters</a>
                        <ul>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/recruiters.html">Recruiters</a></li>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/recruiters-details.html">Recruiters Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Candidates</a>
                        <ul>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/candidates.html">Candidates</a></li>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/candidates-details.html">Candidates Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Blog</a>
                        <ul>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/blog.html">Blog</a></li>
                            <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="http://webdevproof.com/theme-forest-demo/job/demo1/contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Responsive Menu area End-->
</header>
