<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="foo-about">
                        <h3>Việc làm theo ngành nghề</h3>
                        <p>Đang phát triển...</p>
                        @*<a href="#" class="link">READ MORE</a>
                            <ul class="social_link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>*@
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link">
                                <h3>Việc làm dành riêng cho CV của bạn</h3>
                                <ul>
                                    <li><a href="#">Đang phát triển...</a></li>
                                    @*<li><a href="#">All Categories</a></li>
                                    <li><a href="#">Companies</a></li>
                                    <li><a href="#">My Account</a></li>*@
                                </ul>
                            </div>
                        </div>
                        @*<div class="col-md-4 col-sm-12">
                            <div class="foo_link">
                                <h3>Về Nhà Tuyển Dụng</h3>
                                <ul>
                                    <li><a href="#">All Resums</a></li>
                                    <li><a href="#">All Categories</a></li>
                                    <li><a href="#">All Jobs</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link mr-b0">
                                <h3>Về Chúng Tôi</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright">
                        <p>© Copyright - Praca Cerja. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>